<div
  class="select-none flex h-[90vh] justify-center items-center dark:bg-slate-800"
>
  <div
    class="mx-auto mt-10 flex justify-center px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8"
  >
    <div class="text-center">
      <h1
        class="text-4xl font-extrabold tracking-tight text-gray-900 dark:text-slate-200 sm:text-5xl md:text-6xl"
      >
        <span class="block xl:inline"
          ><span class="mb-1 block">Streamline Your Rental Search</span>
          <span
            class="bg-gradient-to-r from-amber-800 to-amber-600 bg-clip-text text-transparent"
            >and Find Your Dream Property Easily
          </span>
        </span>
      </h1>
      <p
        class="mx-auto mt-3 max-w-xl text-lg text-gray-500 dark:text-slate-400 sm:mt-5 md:mt-5"
      >
        From listing to leasing, discover a new way to manage and find rental
        properties. Your ideal space is just a click away.
      </p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center">
        <div class="rounded-md shadow">
          <a
            class="flex w-full items-center justify-center rounded-md border border-transparent bg-amber-600 px-8 py-3 text-base font-medium text-white hover:bg-amber-700 md:py-4 md:px-10 md:text-lg"
            href="#"
            >scroll down
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
